body {
  background: white;
  line-height: 1.5;
  margin: 3em;
  font-family: sans-serif;
}
.main {
  margin: 2em auto;
  width: 50em;
}
h1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em
}
img {
  border: 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.date {
  font-style: italic;
  float: right;
}
