body { background: #282828; color: #ebdbb2; }
pre { border-left: 5px solid #888; }
div#end { background: #ffffea; }
.hi { background: #98971a; color: #282828; }
:link { color: #83a598; }
:visited { color: #d3869b; }
